In [593]:
print("Hello Welcome to Python")

Hello Welcome to Python

In [594]:
#Numbers Data Types in Python

x = 4          #int value
Ð£ = 7.7        #float value  
Z = 25j        #complex
a = 10 > 9     #Boolean value - True
b = 10 < 8     #Boolean value - False

## Datatypes

### Integer and Float Datatype

In [595]:
# Assigning an integer value to variable 'a'
a = 5

# Printing the type of 'a' to verify it is an integer
print(type(a))

<class 'int'>

In [596]:
# Assigning integer values to variables 'x' and 'y'
x, y = 3, 2

# Printing the result of adding 'x' and 'y'
print(x + y)

5

In [597]:
m = 'Hello'
n = 'Python'

# Concatenating strings with " + " in between
print(m + " + " + n)  # Output: Hello + Python

# Concatenating strings without any separator
print(m + n)  # Output: HelloPython

Hello + Python
HelloPython

In [598]:
# Assigning float values to variables 'a' and 'b'
a, b = 6.3, 7.3

# Printing the result of subtracting 'b' from 'a'
print(a - b)

# Printing the type of 'a' to verify it is a float
print(type(a))

-1.0
<class 'float'>

In [599]:
# Printing the result of integer division (floor division) of 'x' by 'y'
print(x // y)

1

In [600]:
# Converting a float to an integer and printing the result
print(int(8.7))

8

In [601]:
# Converting an integer to a float and printing the result
print(float(7))

7.0

### String Datatype

In [602]:
# Printing the 8th character (index 7) of the string 's'
print(s[7])

i

In [603]:
# Printing a substring from index 1 to 8 (exclusive) of the string 's'
print(s[1:9])

ython is

In [604]:
# Printing a substring from the 7th to last character to the 2nd to last character
print(s[-7:-1])

brarie

In [605]:
# Printing the last character of the string 's'
print(s[-1:])

s

In [606]:
# Printing the string 's' excluding the last character
print(s[:-1])

Python is rich in librarie

In [607]:
# Reversing the string 's'
print(s[::-1])

seirarbil ni hcir si nohtyP

In [608]:
# Removing white space from the beginning and end of the string 'y'
y = "i am happy\t\n"
print(y.strip())

i am happy

In [609]:
# Checking if the string "GARAGE" starts with the substring "big"
print("GARAGE".startswith("big"))

False

In [610]:
# Checking if the string "GARAGE" starts with the substring "gar" (case-sensitive)
print("GARAGE".startswith("gar"))

False

In [611]:
# Checking if the string "GARAGE" starts with the substring "GAR"
print("GARAGE".startswith("GAR"))

True

In [612]:
# Finding the starting index of the substring "GAR" in the string "GARAGE"
print("GARAGE".find("GAR"))

0

In [613]:
# Finding the starting index of the substring "AR" in the string "GARAGE"
print("GARAGE".find("AR"))

1

In [614]:
# Replacing the substring "GA" with "CH" in the string "GARAGE"
print("GARAGE".replace("GA", "CH"))

CHRAGE

In [615]:
# Assigning a new string to the variable 'a'
a = "Python is a high-level"

# Printing the length of the string 'a'
print(len(a))

22

### Boolean Datatype

In [616]:
# Comparing if 4 is greater than 6, which is False
print(4 > 6)

False

In [617]:
# Checking if 3 is less than 7 AND 2 is greater than 1
print(3 < 7 and 2 > 1)

True

In [618]:
# Logical AND operation between True and True
print(True and True)  # Output: True

# Logical AND operation between True and False
print(True and False)  # Output: False

# Logical AND operation between False and True
print(False and True)  # Output: False

# Logical AND operation between False and False
print(False and False)  # Output: False

True
False
False
False

In [619]:
# Logical OR operation between True and True
print(True or True)  # Output: True

# Logical OR operation between True and False
print(True or False)  # Output: True

# Logical OR operation between False and True
print(False or True)  # Output: True

# Logical OR operation between False and False
print(False or False)  # Output: False

True
True
True
False

### Sequence Type 
#### 1. List

1. **Definition**: An ordered, mutable collection of items.
2. **Syntax**: Defined using square brackets `[]`.
3. **Example**: `my_list = [1, 2, 3, 'hello', 3.14]`
4. **Mutability**: Lists can be modified after creation (e.g., items can be added, removed, or changed).
5. **Indexing**: Lists support indexing, slicing, and various methods (e.g., `.append()`, `.remove()`).
6. **Duplicates**: Lists can contain duplicate elements.

In [620]:
# Printing the list L
L

[7, 8, 9, 'cat', 9.9]

In [621]:
# Creating a list with mixed data types: integers, a string, and a float
L = [7, 8, 9, 'cat', 9.9]

# Creating another list with integers
L1 = [1, 2, 3, 4, 5]

In [622]:
# Printing the type of L1 to verify it is also a list
print(type(L1))

<class 'list'>

In [623]:
# Printing the type of L to verify it is a list
print(type(L))

<class 'list'>

In [624]:
# Slicing the list L: printing from the beginning to the second last element
print(L[0:-1])  # List is mutable

[7, 8, 9, 'cat']

In [625]:
# Adding two lists (concatenation)
l2 = [1, 5, 8, 9, 6]
l1 = [1, 2, 3, 4, 9, 8]
print(l1+l2)

[1, 2, 3, 4, 9, 8, 1, 5, 8, 9, 6]

In [626]:
# Repeating a list 4 times
print(l1 * 4)

[1, 2, 3, 4, 9, 8, 1, 2, 3, 4, 9, 8, 1, 2, 3, 4, 9, 8, 1, 2, 3, 4, 9, 8]

In [627]:
# Iterating through list l1 and printing each element
for i in l1:
    print(i)

1
2
3
4
9
8

In [628]:
# Converting list l1 to a list (this step is redundant)
list(l1)

[1, 2, 3, 4, 9, 8]

In [629]:
L1 = [1, 2, 3, 4, 5]

# Inserting 100 at index 1
L1.insert(1, 100)

# Printing the modified list
print(L1)

[1, 100, 2, 3, 4, 5]

In [630]:
L1 = [1, 100, 2, 3, 4, 5]

# Slicing the list from index 2 to 5
c = L1[2:5]

# Printing the sliced list
print(c)

[2, 3, 4]

In [631]:
# Program to remove duplicate elements from a list
l3 = [1, 2, 31, 6, 9, 7, 9, 6, 6, 7]
l4 = []
for i in l3:
    if i not in l4:
        l4.append(i)
print(l4)

[1, 2, 31, 6, 9, 7]

#### 2. Tuples

1. **Definition**: An ordered, immutable collection of items.
2. **Syntax**: Defined using parentheses `()`.
3. **Example**: `my_tuple = (1, 2, 3, 'hello', 3.14)`
4. **Mutability**: Tuples cannot be modified after creation (e.g., items cannot be added, removed, or changed).
5. **Indexing**: Tuples support indexing and slicing.
6. **Duplicates**: Tuples can contain duplicate elements.

In [632]:
t = (3, 5, 7, 5, 4)
print(t)

(3, 5, 7, 5, 4)

In [633]:
t.append(t)

AttributeError: 'tuple' object has no attribute 'append'

In [634]:
print(type(t))

<class 'tuple'>

#### 3. Sets

1. **Definition**: An unordered collection of unique items.
2. **Syntax**: Defined using curly braces `{}` or the `set()` constructor.
3. **Example**: `my_set = {1, 2, 3, 'hello', 3.14}`
4. **Mutability**: Sets are mutable; items can be added or removed, but the order is not guaranteed.
5. **Indexing**: Sets do not support indexing, slicing, or other sequence-like behavior.
6. **Duplicates**: Sets automatically remove duplicate elements and do not allow duplicates.

In [635]:
Days = {"Monday", "Tuesday", "Wednesday", "Thrusday", "Friday", "Saturday", "Friday", 5, 8, 4}
print(Days)

{4, 5, 'Thrusday', 8, 'Monday', 'Saturday', 'Friday', 'Wednesday', 'Tuesday'}

In [636]:
d = {'hi', 6, 0}
print(d)

{0, 'hi', 6}

In [637]:
print(Days[1])

TypeError: 'set' object is not subscriptable

In [638]:
for i in Days:
    print(i)

4
5
Thrusday
8
Monday
Saturday
Friday
Wednesday
Tuesday

In [639]:
print(type(Days))

<class 'set'>

In [640]:
print(Days.union(d))

{0, 4, 5, 'Thrusday', 6, 8, 'hi', 'Monday', 'Saturday', 'Friday', 'Wednesday', 'Tuesday'}

In [641]:
print(Days.intersection(d))

set()

In [642]:
d.add(3)
print(d)

{0, 'hi', 3, 6}

#### Dictionaries
1. **Definition:** Unordered collection of key-value pairs.
2. **Syntax:** Defined using curly braces `{ }`, with key-value pairs separated by colons (`:`).
3. **Mutability:** Dictionaries are mutable; you can add, remove, or change key-value pairs.
4. **Key Uniqueness:** Keys must be unique and immutable (strings, numbers, or tuples).

In [643]:
# Creating a dictionary with car models
cars = {'car1' : 'Maruti', 'car2' : 'Ford', 'car3' : 'BMW'}

# Printing the entire dictionary
print(cars)

{'car1': 'Maruti', 'car2': 'Ford', 'car3': 'BMW'}

In [644]:
# Accessing the value associated with the key 'car3'
g = cars['car3']
print(g)

BMW

In [645]:
# Using the get method to access the value associated with the key 'car2'
print(cars.get('car2'))

Ford

In [646]:
# Updating the value associated with the key 'car1'
cars['car1'] = 'Audi'
print(cars)

{'car1': 'Audi', 'car2': 'Ford', 'car3': 'BMW'}

In [647]:
# Printing the type of the dictionary
print(type(cars))

<class 'dict'>

In [648]:
# Accessing the updated value associated with the key 'car1'
print(cars['car1'])

Audi

In [649]:
# Deleting the key-value pair with the key 'car2'
del cars['car2']
print(cars)

{'car1': 'Audi', 'car3': 'BMW'}

### List comprehension

In [650]:
# Initialize variables x and y
x = 5
y = 4

# List comprehension with nested loops and a condition
l = [x * y for x in range(3) for y in range(3) if x > y]

# Printing the resulting list
print(l)  # Output: [0, 0, 2]

[0, 0, 2]